:root {
    --bgcolor1: var(--lighter-white);
    --bgcolor2: var(--white);
    --bgcolor3: var(--darker-white);
    --fgcolor: var(--darker-black);
    --accent: var(--red);
}

.modeBtn {
    background-color: var(--bgcolor1);
    position: fixed;
    color: var(--fgcolor);
    border-radius: 0;
    width: 60px;
    height: 60px;
    font-size: 24;
}

.modeBtn:hover {
    background-color: var(--bgcolor1);
}