header #accountinfo {
    padding-left: 15px;
    position: absolute;
    right: 40px;
    height: 60px;
    vertical-align: top;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 64px;
    display: inline-block;
}